<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.user_pc.semnas_ti">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_semnas"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.LoginRegisterActivity" />
        <activity android:name=".user.UserActivity" />
        <activity
            android:name=".admin.AdminActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".user.detailticket.DetailTicketActivity" />
        <activity android:name=".user.addticket.AddTicketAcitivity" />
        <activity android:name=".user.detailticketpayment.DetailTicketPaymentActivity" />
        <activity android:name=".admin.infoseminar.addseminarinfo.AddSeminarActivity" />
        <activity android:name=".admin.dataadmin.addadmin.AddAdminActivity" />
        <activity android:name=".admin.dataadmin.detaildataadmin.DetailDataAdminActivity" />
        <activity android:name=".admin.infoseminar.updateseminarinfo.UpdateSeminarActivity" />
        <activity android:name=".admin.datafaq.detaildatafaq.DetailFaqAdminActivity" />
        <activity android:name=".admin.datafaq.adddatafaq.AddFaqAdminActivity" />
        <activity android:name=".admin.profile.editprofile.EditProfileAdminActivity" />
        <activity android:name=".admin.verifikasi.detailverifikasi.DetailVerifikasiActivity" />

        <service android:name=".bantuan.FirebaseHelper">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".auth.faquser.detailfaquser.DetailFaqUserActivity" />
        <activity android:name=".admin.scanticket.scanticketkode.ScanTicketActivity" />
        <activity android:name=".admin.scanticket.detailscanticket.DetailScanActivity" />
        <activity android:name=".user.profile.EditProfileUserActivity"/>
    </application>

</manifest>